<% if @questions.empty? %>
  <p id="no-questions">No questions have been asked yet; why don't you ask the first? </p>
<% end %>

<%= form_for(@question, html: {id: "new-question-form"}) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.submit "Submit" %>
<% end %>